<h1>Directives & pipelines</h1>
<ul>
  <li *ngFor="let str of arrOfStr" (click)="getContent(str)">{{ str }}</li>
</ul>

<div [ngStyle]="{ 'background-color': selectedColor }">
  {{ template }}
</div>

<p>Change color template:</p>
<form action="">
  <label for="blue">
    <input type="radio" name="color" value="blue" (change)="onColorChange('lightblue')">
    blue
  </label>


  <label for="blue">
    <input type="radio" name="color" value="red" (click)="onColorChange('red')">
    red
  </label>

  <label for="green">
    <input type="radio" name="color" value="green" (click)="onColorChange('lightgreen')">
    green
  </label>

  <label for="gold">
    <input type="radio" name="color" value="gold" (click)="onColorChange('gold')">
    gold
  </label>
</form>

<hr>

<div *ngIf="isVisible" (click)="deleteElem()">If you click to this div, it would be deleted.</div>

<hr>

<div [title]="test1" (click)="test()">{{ test2 }}</div>
<div bind-title="test1" on-click="test()">{{ test2 }}</div>
